*{margin: 0;}
body{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}
a{text-decoration: none; color: black;}
.links a{margin-left: 1vw;}
nav{
    display: flex;
    justify-content: space-around;
    background-color: hsl(117, 62%, 85%);
    padding-top: 1vw;
    padding-bottom: 1vh;
}
/*base sprite css*/
.icon{
    background: url(Media/sprite3.png);
    background-repeat: no-repeat; width: 66px;
    height: 66px;
    display: inline-block;
}
/* individual sprite poaitions*/
#soundcloud{background-position: -578px -72px;}
#fb{background-position: -435px -145px;}
/*code for site responsiveness*/
@media screen and (max-width: 600px){
    .nav{
        position: relative;
        background-color: rgb(31, 32, 78);
    }
    .pagetitle{
        background-color: rgb(31, 32, 78);
        padding: 1vw;
        color:black;
        transition: .5s;
    }
    .links{
        display: none;
        z-index: 1;
        position: absolute;
        background-color: blueviolet;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px color(sgrb red green blue);
        transition: .5s;
    }
    .links a{
        color: black;
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: block;
        transition: .5s;
        margin-left: 0;
        padding-left: 1vh;
    } 
    .links a:hover{background-color: blanchedalmond; transition: .5s;}
    nav:hover .links {display: block; transition: .5s;}
    nav:hover .links .pagetitle{background-color: cadetblue; transition: .5s;}
}
#soundcloud{
	background: url(Media/SplashingAround/sprite3.png) no-repeat -587px -72px;
	width: 66px;
	height: 66px;
}
#fb{
	background: url(Media/SplashingAround/sprite3.png) no-repeat -439px -146px;
	width: 66px;
	height: 66px;
}